/* header style */
header {
  background-color: #fff9f4;
}

.navbar {
  background-color: #fff9f4;
}

.header-title {
  font-size: 3.3rem;
}

.title-1 {
  color: #fa804c;
}

.title-2 {
  color: #23264a;
}

.btn-nike {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  border-radius: 10px;
  color: #fff;

  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
}

.btn-icon {
  width: 1.5rem;
  padding-right: 0.2rem;
}

.btn-nike:focus {
  color: #fff;
}
.btn-nike:hover {
  color: #fff;
}

/* main section style casual shoes */
.card-img {
  background-color: #cecece;
  width: 90%;
}

.card-img-fluid {
  width: 100%;
  height: 400px;
}

.card-body {
  width: 95%;
  margin: 0 auto;
}

.card-title {
  color: #363958;
}

.price {
  color: #fa804c;

  font-weight: 900;
  font-size: 2.15rem;
}
